:global {
  @media (min-width: 768px) {
    .ant-pro-form-login-container {
      padding: 0 0 80px;
      justify-content: center;
    }
  }
}

.login {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: auto;
  background: #f0f2f5;
  background-image: url('/assets/login-bg.svg');
  background-repeat: no-repeat;
  background-position: center 110px;
  background-size: 100%;
}
